MONGODB_URI = database_uri
PORT=5000

#Clerk Keys
CLERK_PUBLISHABLE_KEY=your_publishable_key
CLERK_SECRET_KEY=your_clerk_secret
CLERK_WEBHOOK_SECRET=your_webhook_key
KEY_ID=your_key
KEY_SECRET=your_secret